/* Limpar as formatações padrão */
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    background: #D6DBDF;
    /* background: rgb(189, 189, 189); */
}

/* layout */
#area-cabecalho{
    background: orange;
    padding: 8px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 9px;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagens{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius:10px 70px 10px 10px;
}

.conteudo-lateral{
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 15px;
    height: 300px;
    overflow-y: scroll;
}

/* Barra de Rolagem */
::-webkit-scrollbar-track {
    background-color: #ccc;
}

::-webkit-scrollbar {
    width: 15px;
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border: 2px solid #ccc;
    border-radius:20px 70px;
}

.conteudo-lateral-menu{
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 15px;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 10px;
    border-bottom: 5px dashed grey;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: white;
}

/* formatação do menu */

a{
    text-decoration: none;
}

a:link, a:visited{
    color: orange;
}
a:hover{
text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #FFF;
    margin: 9px 14px;
}

#area-cabecalho a:hover{
    color: orange;
    background: #FFF;
    padding: 8px 12px;
    border-radius: 5px 40px 10px 5px;
    text-decoration: none;
}

/* formatação geral */
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: orange;
}

h3{
    color: black;
    background: orange;
    padding: 5px 10px;
}

.branco{
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
}

.p-conteudo{
    margin: 5px;
    padding: 5px;
}

.categoria-lateral{
    margin-top: 5px;
    padding: 5px;
}
